.c-button  {
  font-family: YuGo;
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-align: center;
  border-radius: 4px;
  padding: .375rem .75rem;
}

.c-button_primary {
  @extend .c-button;
  border: none;
  &:enabled {
    color: #F7F9FF;
    background-color: #9573D9;
    box-shadow: 0 4px 16px 0 rgba(2, 35, 117, 0.16);
  }
  &:disabled {
    background-color: #F3EDFF;
    color: rgba(149, 115, 217, 0.2);
  }
}

.c-button_save {
  @extend .c-button_primary;
  width: 86px;
  height: 32px;
}

.c-button_close {
  //FIXME: 画像に置き換える
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
  background-color: #F34C4C;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 1;
}