.form-group {
  margin-bottom: 32px;
  label {
    display: inline-block;
    width: 100%;
    color: #022375;
    font-family: YuGo;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
    margin-bottom: 20px;
  }
  .input-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .form-control {
      width: 100%;
      background-color: #F7F9FF;
      border: none;
      border-radius: 4px;
      box-shadow: inset 1px 1px 4px 0 rgba(2, 35, 117, 0.1), inset -1px 0 4px 0 rgba(2, 35, 117, 0.1);
      color: #022375;
      font-size: 16px;
      font-family: YuGo;
      font-weight: 500;
      line-height: 19px;
      text-align: left;
    }
    input.form-control {
      padding: 20px 12px;
      height: 40px;
    }
    textarea.form-control {
      height: 144px;
      padding: 8px 20px 16px 20px;
    }
  }
}
